[Unit]
Description=Firefox profile memory cache
PartOf=Xsession.target

[Install]
WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/archangel/.local/bin/firefox-garam-sync %i ym0z8rut.garam
ExecStop=/home/archangel/.local/bin/firefox-garam-sync %i ym0z8rut.garam
