[Unit]
Description=Status bar for i3 & bspwm
#PartOf=graphical-session.target

[Install]
WantedBy=multi-user.target

[Service]
type=simple
#NotifyAccess=all
#TimeoutStartSec=5
WatchdogSignal=SIGTERM
ExecStart=%h/.local/bin/launch_polybar
ExecReload=/usr/bin/polybar --reload
ExecStop=/usr/bin/polybar-msg cmd quit
Restart=on-failure
