[Unit]
Description=X session user's services

BindsTo=graphical-session.target

Wants=dunst.socket
Wants=pulseaudio.socket
Wants=gnome-keyring-daemon.socket

Wants=mpd.service
Wants=polkit-gnome.service
Wants=powerline-daemon.service
